@import url(https://fonts.googleapis.com/css?family=Cinzel:400,700,900);

body {
  font-family: 'Cinzel', serif;
  font-weight: 400;
  margin: 0;
}

#instafeed img {
	padding:5px;
	opacity:0.8;
	filter:alpha(opacity=80);
}

#instafeed img:hover {
	opacity:1;
	filter:alpha(opacity=100);
}


header {
	height: 150px;
	width: 100vw;
	background-color: #0099cc;
	position: fixed;
	top: 0;
	z-index: 1;
}


#header-logo {
	background-image: url("images/symbol.png");
	height: 75px;
	width: 75px;
	position: absolute;
	top: 36px;
	left: 48%;
}

blockquote.instagram-media {
    margin: 0 auto;
}

header nav {
	float: right;
	margin-right: 50px;
	margin-top: 30px;
}

.link{
	color: white;
	display: inline;
}

.link:hover{
	text-decoration: underline;
}

main {
	text-align: center;	
	position: relative;
	top: 100px;
	z-index: 0;
}

#about {
	background-color: #cccccc;
	height: 15%;
	padding: 8em;
	padding-left: 20em;
	padding-right: 20em;
	text-align: center;	
}


#gallery {
	text-align: center;
	width: 80vw;
	background-color: #e0e0e0;
	padding: 10vw;
}

#gallery2{
	text-align: center;
	width: 80vw;
	background-color: #ffffff;
	padding: 10vw;
	margin: 0 auto;
}

